@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-white: #FFFFFF;
  --color-light-gray: #F9F9F9;
  --color-dark-gray: #5A5A5A;
  --color-black: #000000;
  --color-gray: #F6F6F6;

  --color-dark-green: #252E2D;
  --color-darker-green: #181F20;
  --color-forest-green: #244E39;
  --color-light-white: #FFFFFF;
  --color-warm-gray: #BCB5B5;
  --color-deep-green: #2D3736;

  --color-button-dark-green: #244E39;
  --color-dark-completed: #212928;
  --color-dark-text-completed: #809e9a;
  --color-button-light-green: #3E9E2E;

  --color-menu-button-dark: #5CF8AA;
  --color-menu-button-light: #50BF30;

  --color-light-background:#f0f0f0;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: theme('colors.gray.200');
  }

  ::-webkit-scrollbar-thumb {
    background: theme('colors.gray.500');
    border-radius: 9999px;
  }

  :where([data-theme=dark], [data-theme=dark] *)::-webkit-scrollbar-track {
    background: theme('colors.gray.800');
  }

  :where([data-theme=dark], [data-theme=dark] *)::-webkit-scrollbar-thumb {
    background: theme('colors.gray.600');
  }
}
